.leaflet-control-pointerdata,
.leaflet-control-shipdata {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    padding: 6px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    background-color: #FFFFFF;
    position: relative;
    white-space: nowrap;
    margin: 0;
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
}

.leaflet-control-shipdata:hover {
    background-color: #f4f4f4;
}

.leaflet-setting-panel{
    display: block;
    padding: 3px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.65);
    background: #FFFFFF no-repeat 50% 50%;
    position: relative;
    white-space: nowrap;
    margin: 0;
    font-family: Consolas, monaco, monospace;
    font-size: 14px;
    width: 250px;
}
.leaflet-setting-panel-title{
    padding: 0;
    text-align: center;
    font-family: Consolas, monaco, monospace;
    font-size: 18px;
    font-weight: bold;
    margin: 3px;
}
.leaflet-setting-panel-setting,
.leaflet-setting-panel-button{
    text-align: left;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    font-weight: bold;
    padding: 0 5%;
    width: 90%;
}
.panel-separator{
    height: 1px;
    width: 90%;
    margin: 0 auto;
    background-color: black;
}
.panel-button{
    width: 70px;
    height: 32px;
    margin: 3px;
    font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
    background: #FFFFFF;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    opacity: 1;
    transition: opacity .4s;
    border: 0;
}
.panel-button:hover{
    background-color: #f4f4f4;
    cursor: pointer;
    font-size: 110%;
}
.panel-range{
    width: 99%;
}