.leaflet-label-overlay {
    line-height: 10px;
    margin-top: 20px;
    position: absolute;
    text-align: center;
}

.top-label {
    width: 120px;
    padding: 0 0 0 0;
    position: absolute;
    text-align: center;
    font-family: Consolas, monaco, monospace;
    text-shadow: 2px 2px 5px SlateGray;
    font-size: 23px;
    white-space: nowrap;
}

.left-label {
    width: 40px;
    padding: 0 0 0 0;
    position: absolute;
    text-align: right;
    font-family: Consolas, monaco, monospace;
    text-shadow: 2px 2px 5px SlateGray;
    font-size: 14px;
    white-space: nowrap;
}

.right-label {
    width: 40px;
    padding: 0 0 0 0;
    position: absolute;
    text-align: left;
    font-family: Consolas, monaco, monospace;
    text-shadow: 2px 2px 5px SlateGray;
    font-size: 14px;
    white-space: nowrap;
}